<%- include('./layouts/adminheader.ejs') %> 

  <section>
    <a href="/addCoupon"><div class="box-3">
      <div class="btn btn-three button-pad">
        <span>ADD COUPON</span>
      </div>
    </div>  
  </a>   
    <h1>Coupon DETAILS</h1>
      <table id="example" class="display bg-dark rounded p-3" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Code</th>
            <th>Discount</th>
            <th>Starting Date</th>
            <th>Expiry Date</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody id="table_body">
          <% coupons.forEach(function(item,i){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= item.name %></td>
              <td><%= item.code %></td>
              <td><%= item.discount %>%</td>
              <td><%= moment(item.startingDate).format('MMMM Do YYYY, h:mm:ss a') %></td>
              <td><%= moment(item.expiryDate).format('MMMM Do YYYY, h:mm:ss a') %></td>
              <td>
                <% if (item.active==true) { %>
                  <div class="box-2">
                    <a class="block_button" href="/deactivateCoupon?id=<%= item._id %>">
                      <div class="btn btn-two">
                      <span>Deactivate</span>
                    </div></a>
                  </div>                    
                  <% } else { %>
                    <div class="box-1 bg-danger">
                      <a class="block_button" href="/reactivateCoupon?id=<%= item._id %>"><div class="btn btn-one">
                        <span class="text-light">Reactivate</span>
                      </div></a>
                    </div>
                    <% } %>                   
              </td>
            </tr>
            <% }) %>
            </tbody>
          </table>
</section>

<script>
  $(document).ready(function(){
  $("#filterSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table_body tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  });
  $(document).ready(function () {
      $('#example').DataTable({
          pagingType: 'full_numbers',
      });
  });
  
  
  </script>
  




<%- include('./layouts/adminfooter.ejs') %> 
