<%- include('./layouts/adminheader.ejs') %> 

  <section>
    <a href="/addCategory"><div class="box-3">
      <div class="btn btn-three button-pad">
        <span>ADD CATEGORY</span>
      </div>
    </div>  
  </a>   
    <h1>category DETAILS</h1>
      <table id="example" class="display" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="table_body">
          <% category.forEach(function(item,i){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= item.Name %></td>
              <td>
                <% if (item.active==true) { %>
                  <div class="box-2">
                    <a class="block_button" href="/blockCategory?name=<%= item.Name %>">
                      <div class="btn btn-two">
                      <span>ACTIVE</span>
                    </div></a>
                  </div>                    
                  <% } else { %>
                    <div class="box-1 bg-danger">
                      <a class="block_button" href="/unblockCategory?name=<%= item.Name %>"><div class="btn btn-one">
                        <span class="text-light">BLOCKED</span>
                      </div></a>
                    </div>
                    <% } %>                   
              </td>
            </tr>
            <% }) %>
            </tbody>
          </table>
</section>

<script>
  $(document).ready(function(){
  $("#filterSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table_body tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  });
  $(document).ready(function () {
      $('#example').DataTable({
          pagingType: 'full_numbers',
      });
  });
  
  
  </script>
  




<%- include('./layouts/adminfooter.ejs') %> 
