<%- include('./layouts/adminheader.ejs') %> 

<div class="container">
    <div class=" text-center mt-5 ">
        <h1 >Edit Product</h1>        
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">   
                    <div class = "container">
                        <form  method="post" action="/editProduct">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_name">Product name *</label>
                                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter product name *" required="required" data-error="product name is required." value="<%= product.Name %>">                                                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label for="form_lastname">Price *</label>
                                            <input id="form_lastname" type="text" name="price" class="form-control" placeholder="Please enter the price *" required="required" data-error="Price is required." value="<%= product.Price %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_need">Color *</label>
                                            <select id="form_need" name="color" class="form-control" required="required" data-error="Please specify color.">
                                                <option ><%= product.Color %></option>
                                                <option >Black</option>
                                                <option >Blue</option>
                                                <option >Brown</option>
                                                <option >Green</option>
                                                <option >Grey</option>
                                                <option >Orange</option>
                                                <option >Pink</option>
                                                <option >Purple</option>
                                                <option >Red</option>
                                                <option >White</option>
                                                <option >Yellow</option>
                                                <option >Muti-color</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_need">Category *</label>
                                            <select id="form_need" name="category" class="form-control" required="required" data-error="Please specify size.">
                                                <option ><%= product.Category %></option>
                                                <% category.forEach((item)=>{ %>
                                                    <% if(item.active==true) { %>
                                                        <option ><%= item.Name %></option>
                                                    <% }else { %>
                                                        <% } %>
                                                <% }) %>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_lastname">Small Stock *</label>
                                            <input id="form_lastname" value="<%= product.stock.small %>" type="number" name="smallStock" class="form-control" placeholder="Please enter the stock amount *" required="required" data-error="Price is required.">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_lastname">Medium Stock *</label>
                                            <input id="form_lastname" value="<%= product.stock.medium %>" type="number" name="mediumStock" class="form-control" placeholder="Please enter the stock amount *" required="required" data-error="Price is required.">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_lastname">Large Stock *</label>
                                            <input id="form_lastname" value="<%= product.stock.large %>" type="number" name="largeStock" class="form-control" placeholder="Please enter the stock amount *" required="required" data-error="Price is required.">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_lastname">X-lagrge Stock *</label>
                                            <input id="form_lastname" value="<%= product.stock.x_large %>" type="number" name="XLstock" class="form-control" placeholder="Please enter the stock amount *" required="required" data-error="Price is required.">
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_lastname">XX-large Stock *</label>
                                            <input id="form_lastname" value="<%= product.stock.xx_large %>" type="number" name="XXLstock" class="form-control" placeholder="Please enter the stock amount *" required="required" data-error="Price is required.">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 py-2">
                                        <div class="form-group">
                                            <label for="form_message">Description *</label>
                                            <textarea id="form_message" name="description" class="form-control" placeholder="Write description *." rows="4" required="required" data-error="Please, leave us a message."><%= product.Description %></textarea>                                                
                                        </div>
                                    </div>    
                                    <div class="col-md-6">                                        
                                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                                            " value="Edit Product" >                                    
                                    </div>
                                    <div class="col-md-6">                                        
                                       <a class="btn btn-success btn-send  pt-2 btn-block cancel-button" href="/productDetail">CANCEL</a>                                  
                                    </div>
                                </div>       
                            </div>
                            <input type="hidden" name="idd" value="<%=product.id %>">
                        </form>
                    </div>
                </div>                                
            </div>                                       
        </div>                                  
    </div>
 </div>
                


                                    
                        
                                


        

    <%- include('./layouts/adminfooter.ejs') %> 