<%- include('./layouts/adminheader.ejs') %> 
      <% if(details !=null) { %>
      <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody id="table_body">
          <% details.forEach(function(item){ %>
            <tr>
              <td><%= item.firstname %></td>
              <td><%= item.Email %></td>
              <td><%= item.Phone %></td>
              <td>
                <% if (item.active==true) { %>
                <div class="box-2">
                  <a class="block_button" href="/blockUser?id=<%= item._id %>">
                    <div class="btn btn-two">
                    <span>ACTIVE</span>
                  </div></a>
                </div>                    
                <% } else { %>
                  <div class="box-1 bg-danger">
                    <a class="block_button" href="/unblockUser?id=<%= item.id %>"><div class="btn btn-one">
                      <span class="text-light">BLOCKED</span>
                    </div></a>
                  </div>
                  <% } %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      <% } %>
<script>
  $(document).ready(function(){
    $("#example_filter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#table_body tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function () {
    $('#example').DataTable({
        pagingType: 'full_numbers',
    });
});

  </script>
       
<%- include('./layouts/adminfooter.ejs') %> 