<%- include('./layouts/adminheader.ejs') %> 


<!-- <button><a href="/addProduct">add product</a></button> -->
<% if(details !=null) { %>
    <section>
      <a href="/addProduct"><div class="box-3">
        <div class="btn btn-three button-pad">
          <span>ADD PRODUCT</span>
        </div>
      </div>  
    </a>  
      <h1>PRODUCT DETAILS</h1>
      <!-- <div class="tbl-header"> -->
        <table id="example" class="display bg-dark rounded p-3" style="width:100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>price</th>
              <th>Description</th>
              <th>Category</th>
              <th>Color</th>
              <th>Size</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table_body">
            <% details.forEach(function(item){ %>
              <tr>
                <td><%= item.Name %></td>
                <td><img class="productImg" src="/images/productImage/<%= item.Image1 %>" alt=""></td>
                <td>$<%= item.Price %></td>
                <td><%= item.Description %></td>
                <td><%= item.Category %></td>
                <td><%= item.Color %></td>
                <td><%= item.Size %></td>
                <td>
                  <a href="/editProduct?id=<%= item._id %>">
                    <div class="box-3">
                      <div class="btn btn-three">
                        <span><i class="fa-solid text-light fa-pen-to-square"></i></span>
                      </div>
                    </div>
                  </a>

                  <!-- <a href="/addToBanner?productId=<%= item._id %>"> -->
                    <div class="box-3">
                      <div onclick="itemAdded('<%= item._id %>')" class="btn btn-three d-flex align-items-center justify-content-center">
                        <p class="text-white m-0" style="font-size: 14px ;">Add to Banner</p>
                      </div>
                    </div>
                  <!-- </a> -->

              </td>
              </tr>
              <% }) %>
              </tbody>
            </table>
            <% } %>
  </section>

    
<!-- <input type="search" id="gfg"> -->
<script>
$(document).ready(function(){
$("#filterSearch").on("keyup", function() {
  var value = $(this).val().toLowerCase();
  $("#table_body tr").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  });
});
});
$(document).ready(function () {
    $('#example').DataTable({
        pagingType: 'full_numbers',
    });
});


function itemAdded(id){
  $.ajax({
    url : '/addToBanner?productId='+id,
    method : 'get',
    success:(res) => {
        count = res.status;
        var toastMixin = Swal.fire({
          toast: true,
          icon: 'success',
          text :"Item Added to Cart",
          animation: false,
          position: 'top-right',
          showConfirmButton: false,
          timer: 2000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
  });
    }
    })
    
  
    }
</script>




<%- include('./layouts/adminfooter.ejs') %> 