<%- include('./layouts/userheader.ejs') %> 

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <%if(productDetails.active==true){ %>
            <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> <img id="main-image" src="/images/productImage/<%= productDetails.Image1 %>" width="250" /> </div>
                                <div class="thumbnail text-center">
                                     <img onclick="change_image(this)" src="/images/productImage/<%= productDetails.Image1 %>" width="70"> 
                                     <img onclick="change_image(this)" src="/images/productImage/<%= productDetails.Image2 %>" width="70">
                                     <img onclick="change_image(this)" src="/images/productImage/<%= productDetails.Image3 %>" width="70">
                                     <img onclick="change_image(this)" src="/images/productImage/<%= productDetails.Image4 %>" width="70">
                                     <img onclick="change_image(this)" src="/images/productImage/<%= productDetails.Image5 %>" width="70">
                                     <img onclick="change_image(this)" src="/images/productImage/<%= productDetails.Image6 %>" width="70">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center"> <a href="/productPage_backButton?category=<% productDetails.Category %>"><i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div></a>
                                    <% if(productsInWishlist==null){ %>
                                    <a href="/addToWishlist?id=<%= productDetails._id %>"><i class="fa fa-heart text-muted"></i></a>
                                        <% } else { %>
                                    <a href="/removeFromWishlist?id=<%= productDetails._id %>"><i class="fa fa-heart text-danger"></i></a>
                                            <% } %>
                                </div>
                                <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand"><%= productDetails.Category %>'s Shoes</span>
                                    <h5 class="text-uppercase"><%= productDetails.Name %></h5>
                                    <div class="price d-flex flex-row align-items-center"> <span class="act-price">$<%= productDetails.Price %></span>
                                        <div class="ml-2"> <small class="dis-price">$59</small> <span>40% OFF</span> </div>
                                    </div>
                                </div>
                                <p class="about"><%= productDetails.Description %></p>
                                <div class="sizes mt-5" id="sizeDetails">
                                   <form action="" id="sizeForm">

                                        <h6 class="text-uppercase">Size</h6> 
                                        <% if(productDetails.stock.small>0){ %>
                                            <label class="radio"> <input type="radio" name="size" value="S" required checked> <span>S</span> </label> 
                                        <%}%>
                                        <% if(productDetails.stock.medium>0){ %>
                                            <label class="radio"> <input type="radio" name="size" value="M" required checked><span>M</span> </label>
                                        <%}%>
                                        <% if(productDetails.stock.large>0){ %>
                                            <label class="radio"> <input type="radio" name="size" value="L" required checked><span>L</span> </label>
                                        <%}%>
                                        <% if(productDetails.stock.x_large>0){ %>
                                            <label class="radio"> <input type="radio" name="size" value="XL" required checked><span>XL</span> </label> 
                                        <%}%>
                                        <% if(productDetails.stock.xx_large>0){ %>
                                            <label class="radio"> <input type="radio" name="size" value="XXL" required checked><span>XXL</span> </label>
                                        <%}%>
                                        
                                    </div>
                                </form>
                                    <div class="cart mt-4 d-flex justify-content-between align-items-center">
                                        <button class="btn btn-danger text-uppercase mr-2 px-4" onclick="addToCart('<%= productDetails._id %>')">Add to cart</button>
                                        <!-- Button trigger modal -->
                                        <%if(userPresent){%>
                                            <button type="button" class="btn btn-danger text-uppercase mr-2 px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                Add Review
                                            </button>
                                        <%}%>
                                        
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ratings and Review</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body d-flex justify-content-center flex-column">
                                                   <form action="" id="reviewForm">
                                                        <div class="rating d-flex py-3">
                                                            <input type="radio" name="star5"/><span class="star"> </span>
                                                            <input type="radio" name="star4"/><span class="star"> </span>
                                                            <input type="radio" name="star3"/><span class="star"> </span>
                                                            <input type="radio" name="star2"/><span class="star"> </span>
                                                            <input type="radio" name="star1"/><span class="star"> </span><span class="emo"> </span>
                                                            
                                                        </div>
                                                        <div>
                                                            <div class="form-group">
                                                                <textarea id="form_message" name="review" class="form-control" placeholder="Share your genuine review of our product" rows="4"  data-error="Please, leave us a message."></textarea>                                                
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="submitReview('<%= productDetails._id %>')">Submit Review</button>
                                                </div>
                                                    </form>
                                                    <script>
                                                         function submitReview(id){
                                                            $.ajax({
                                                            url: "/productPage?productId="+id,
                                                            method: "put",
                                                            data: $("#reviewForm").serialize(), 
                                                            success: (res) => {               
                                                                if(res.data == 1){
                                                                    window.location.replace('/login')
                                                                }else{
                                                                    location.reload()
                                                                    // $("#reviewDiv").load(location.href + " #reviewDiv");
                                                                    // $("#staticBackdrop").load(location.href + " #staticBackdrop");
                                                                }
                                                            }
                                                            })
                                                        }
                                                    </script>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                <%}else{%>
                    <div class="container">
                    <div class="pt-5 mt-5">
                        <h2 class="text-center text-secondary">The Product is currently Unavailable !!</h2>
                        <div class="d-flex justify-content-center py-5"><a href="/products"><button class="login-button signup-button text-center" >Continue Shopping</button></a></div>
                    </div>
                    <hr>    
                    <div class="container mt-4">
                        <div><h4>You might also like</h4></div>
                    </div>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <% products.forEach(function(productDetails){%>
                                            <div class="col-6 col-md-3 py-3">
                                                <div class="product-grid shadow">
                                                    <div class="product-image">
                                                        <a href="/productPage?id=<%= productDetails._id %>" class="image">
                                                            <img class="pic-1" src="/images/productImage/<%= productDetails.Image1 %>">
                                                            <img class="pic-2" src="/images/productImage/<%= productDetails.Image1 %>">
                                                        </a>
                                                        <span class="product-sale-label">sale!</span>
                                                        <ul class="social">
                                                            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/addToWishlist?id=<%= productDetails._id %>" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                        </ul>
                                                        <div class="product-rating">
                                                            <ul class="rating">
                                                                <li class="fas fa-star"></li>
                                                                <li class="fas fa-star"></li>
                                                                <li class="fas fa-star"></li>
                                                                <li class="far fa-star"></li>
                                                                <li class="far fa-star"></li>
                                                            </ul>
                                                            <button class=" btn add-to-cart second" onclick="addToCart('<%= productDetails._id %>')">ADD TO CART</button>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3 class="title"><a href="/productPage?id=<%= productDetails._id %>"><%= productDetails.Name %></a></h3>
                                                        <div class="price"><span>$28.00</span>$<%= productDetails.Price %></div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>

        </div>
        </div>
    </div>
</div>
<% if(reviewDetails.length!=0){ %>
<div class="container my-3" id="reviewDiv">
    <div class="row bg-white p-5 shadow rounded">
        <div class="col-12 mb-5">
            <div class="col-9"></div>
            <div class="col-4">
                <h2 class="text-dark text-center m-0"><%= avgReview.toFixed(2) %> <i class="fa-solid text-warning fa-star"></i></h2>
                <p class="text-center m-0"><%= reviewDetails.length%> Ratings &</p>
                <p class="text-center m-0"><%= reviewDetails.length%> Reviews</p>
            </div>
        </div>
        <hr>  
            <% reviewDetails.forEach((item,i)=>{ %> 
                <div class="col-12 d-flex">
                    <div class="col-1">
                        <p class="text-center"><%= i+1 %>.</p>
                    </div>
                    <div class="col-11">
                        <div class="d-flex">
                            <% for(let j=0; j<5 ; j++){ %>
                                <%if(j<item.rating){%>
                                    <i class="fa-solid text-warning fa-star"></i>
                                <%}else{%>
                                    <i class="fa-solid text-secondary fa-star"></i>
                                <%}}%>
                        </div>
                        <p><%= item.review %></p>
                        <div class="d-flex justify-content-between">
                            <p class="text-secondary mx-2"><%= item.userId.firstname %> <i class="fa-solid fa-circle-check"></i></p>
                            <p class="text-secondary"><%= moment(item.date).format('DD-MM-YYYY');%></p>
                        </div>
                    </div> 
                </div>
                <hr>
            <%})%>
        
        <div class="col-12">

        </div>
    </div>
</div>
<%}%>
<style>
.card{border:none}
.product{background-color: #a9cedc;}
.brand{font-size: 13px}
.act-price{color:red;font-weight: 700}
.dis-price{text-decoration: line-through}
.about{font-size: 14px}
.color{margin-bottom:10px}
label.radio{cursor: pointer}
label.radio input{position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none}
label.radio span{padding: 2px 9px;border: 2px solid #ff0000;display: inline-block;color: #ff0000;border-radius: 3px;text-transform: uppercase}
label.radio input:checked+span{border-color: #ff0000;background-color: #ff0000;color: #fff}.btn-danger{background-color: #ff0000 !important;border-color: #ff0000 !important}
.btn-danger:hover{background-color: #da0606 !important;border-color: #da0606 !important}
.btn-danger:focus{box-shadow: none}
.cart i{margin-right: 10px}
</style>
<script>
    function change_image(image){
                 var container = document.getElementById("main-image");
                container.src = image.src;
            }
            document.addEventListener("DOMContentLoaded", function(event) {
            });
</script>
<script src="/public/zoomassets/js/jquery-3.6.0.min.js"></script>
<script src="/public/zoomassets/js/bootstrap.bundle.min.js"></script>
<script src="/public/zoomassets/js/xzoom.min.js"></script>
<%- include('./layouts/userfooter.ejs') %> 
