<%- include('./layouts/userheader.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <div class="d-flex">
                <button class="btn d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><h1>&#9776</h1></button>
                <div class="offcanvas offcanvas-start  text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header row d-flex">
                        <div class="col-10 text-center"><h2 class="offcanvas-title ps-5" id="offcanvasWithBothOptionsLabel">YOUR ACCOUNT</h2></div>
                        <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button></div>
                    </div>
                    <div class="offcanvas-body">
                        <div class="col-12 col-md-12 text-center">
                            <div class="my-4">
                                <a class="text-white" href="/accountDetails">ACCOUNT DETAILS</a>
                            </div>
                            <hr>
                            <div class="my-4">
                                <a  href="/userAddress">ADDRESS</a>
                            </div>
                            <hr>
                            <div class="my-4">
                                <a class="text-white" href="/order">ORDERS</a>
                            </div>
                            <hr>
                            <div class="my-4">
                                <a class="text-white" href="/wishlist">WISHLIST</a>
                            </div>
                            <hr>
                            <div class="my-5">
                                <a class="text-white logout-btn" href="/logout"><H2>LOGOUT</H2></a>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="yourAccount d-flex align-items-center">YOUR ADDRESS</h1>
            </div>
        </div>
    </div>
</div>
<div class="container" id="orderDetails">
    <div class="row ">
        <div class="col-3 col-md-2 d-none d-lg-block">
            <div>
                <a class="text-dark" href="/accountDetails">Account details</a>
            </div>
            <hr>
            <div>
                <a  href="/userAddress">Address</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="/order">Orders</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="/wishlist">Wishlist</a>
            </div>
            <hr>
            <div>
                <a class="text-dark logout-btn" href="/logout">LOGOUT</a>
            </div>
        </div>
        <div class = "vertical col-1 p-0 d-none d-lg-block"></div>
        <div class="col-12 col-lg-9">
            <div class="container">
                <div class="row ">
                    <% mainAddress.forEach(function(mainAddress,i) { %>
                    <div class="col-lg-6 py-2">                        
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between"><h4 class="card-title">Address <%= i+1 %></h4>
                                <a href="/deleteAddress?i=<%= i %>"><i class="fa-solid fa-trash"></i></a></div>
                                <div><p class="card-text"><%= mainAddress.addressLine1 %> <%= mainAddress.addressLine2 %> <%= mainAddress.state %> <%= mainAddress.country %> <%= mainAddress.pin %> <%= mainAddress.telephone %></p></div>
                                <div class="d-flex justify-content-between align-items-center"><a href="/editAddress?id=<%= i %>"><button class="login-button signup-button my-3 edit-button">Edit Address</button></a>
                                    <% if (mainAddress.status==false) { %>
                                        <a href="/setasdefault?addressid=<%= mainAddress._id %>&i=<%= i %>" class="card-link">Set as default</a>
                                    <% } else { %>
                                        <p>default</p> 
                                    <% } %>       
                                </div>
                            </div>
                          </div>                          
                    </div>
                    <% }) %>
                    <div class="col-lg-6 py-2">
                        <div class="d-flex flex-column justify-content-center align-items-center addAddressdiv">
                            <a href="/addAddress"><i class="fa-solid fa-plus plus-icon"></i></a>
                            <a href="/addAddress">Add Address</a>
                        </div>
                        
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>


<%- include('./layouts/userfooter.ejs') %> 
