<%- include('./layouts/userheader.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <h1 class="yourAccount">YOUR CART</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                
                <% product.forEach(function(product,i){ %>
                <div class="row">
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <img class="cart_image" src="/images/productImage/<%= product.productId.Image1 %>" alt="">
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-around">
                        <div class="col-12"><a href="/productPage?id=<%= product.productId._id %>"><p id="productName"><%= product.productId.Name %></p></a></div>
                        <div class="col-12"><p class="cart-price">$<%= product.productId.Price %></p></div>
                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <div><p style="margin: 0;" id="productSize"><%= product.productId.Size %></p></div>
                    </div>
                    <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                        <div><button class="btn" onclick="addCartCount('<%= product.productId._id %>')"><i class="fa-sharp fa-solid fa-caret-up"></i></button></div>
                        <div><p style="margin: 0;" id="productQty"><%= product.quantity %></p></div>
                        <div><button 
                            <% if( product.quantity == 1 ){ %>
                            style="pointer-events : none; color : red;"                                    
                                    <% } %>
                            class="btn" onclick="subractCartCount('<%= product.productId._id %>')"><i class="fa-solid fa-caret-down"></i></button></div>
                            
                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <p class="cart-totalprice" id="productPrice">$<%= product.price %></p>
                    </div>
                    <div class="col-1 d-flex align-items-center justify-content-center">
                        <div><a href="/deleteCartItem?i=<%= i %>"><i class="fa-solid fa-trash text-primary"></i></a></div>
                    </div>
                </div>
                <hr>
                <% }) %>
                
            </div>
            <% if(itemQty==0){ %>
                <h3 class="text-center text-secondary">There are no items in your Cart !!</h3>
                <% } %>
            <div class="d-flex justify-content-center py-5"><button class="login-button signup-button text-center" >Continue Shopping</button></a></div>
           
        </div>
        <% if(itemQty!=0){ %>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="container  ">
                <div class="row d-flex flex-column align-items-center bg-light p-4" style="border-radius: 9px;">
                    <div class="col-12 d-flex justify-content-between">
                        <div><p>SUBTOTAL</p></div>
                        <div><p class="subtotal">$<%= totalPrice.totalPrice %></p></div>
                    </div>
                    <div class="col-12 text-center my-4"><a href="/checkoutPage"><button class="login-button signup-button" >CHECKOUT</button></a></div>
                    <div class="col-12 text-center"><p>Shipping is calculated at checkout</p></div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<hr class="my-5">
<div class="container">
    <div class="row">
        <!-- <div class="col-lg-2"></div> -->
        <div class="col-3 text-center"><i class="second-footerIcon fa-sharp fa-solid fa-shield-halved"></i><p class="icon_body">FAST & SECURE DELIVARY</p></div>
        <div class="col-3 text-center"><i class="second-footerIcon fa-solid fa-truck"></i><p class="icon_body">FREE SHIPPING ON PREPAID ORDERS</p></div>
        <div class="col-3 text-center"><i class="second-footerIcon fa-solid fa-globe"></i><P class="icon_body">DELIVARY ALL OVER INDIA</P></div>
        <div class="col-3 text-center"><i class="second-footerIcon fa-solid fa-headphones"></i><P class="icon_body">24/7 SUPPORT</P></div>
        <!-- <div class="col-lg-2"></div> -->
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="row gaprow2-welcomePage d-flex justify-content-center justify-content-space-around">  
      <div class="col-6 col-md-3 d-flex flex-column align-items-center py-4">
        <div><p class="footer-heading">PRODUCTS</p></div>
        <div>
          <div class="pt-1"><p>New Arrivals</p></div>
          <div class="d-flex flex-start"><p>Best Sellers</p></div>
          <div class="d-flex flex-start"><p>Release Dates</p></div>
          <div class="d-flex flex-start"><p>Sale</p></div>
        </div>
      </div>
      <div class="col-6 col-md-3 d-flex flex-column align-items-center py-4">
        <div><p class="footer-heading" style="margin-left: -75px;">GET HELP</p></div>
        <div>
          <div class="pt-1"><p>Order Tracker</p></div>
          <div class="d-flex flex-start"><p>Shipping</p></div>
          <div class="d-flex flex-start"><p>Returns and Exchange</p></div>
          <div class="d-flex flex-start"><p>Payment Methods</p></div>
          <div class="d-flex flex-start"><p>Contact Us</p></div>
        </div>
      </div>
    </div>
  </div>


<%- include('./layouts/userfooter.ejs') %>
