<%- include('./layouts/userheader.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <div>
                <h1 class="yourAccount">YOUR ORDERS</h1>
            </div>
        </div>
    </div>
</div>
<div class="container" id="orderDetails">
    <div class="row">
        <div class="col-3 col-md-2">
            <div>
                <a class="text-dark" href="/accountDetails">Account details</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="/userAddress">Address</a>
            </div>
            <hr>
            <div>
                <a  href="/order">Orders</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="/wishlist">Wishlist</a>
            </div>
            <hr>
            <div>
                <a class="text-dark logout-btn" href="/logout">LOGOUT</a>
            </div>
        </div>
        <div class = "vertical col-1"></div>
        <div class="col-8 col-md-9" >
            <% if(orderItems.length==0){ %>
                <h3 class="text-center text-secondary">There haven't purchased any product yet !!</h3>
                <div class="d-flex justify-content-center py-5"><button class="login-button signup-button text-center" >Continue Shopping</button></a></div>
            <% } %>
            <% orderItems.reverse().forEach(function(orderItems){ %>
            <div class="col-12 col-md-10 bg-light shadow rounded my-4">
                <div id="status<" class="col-12 d-flex justify-content-between px-4 pb-2 pt-3">
                    <P style="font-size: 11px;">ORDER ID #<%= orderItems._id %></P>
                    <% if(orderItems.cancelStatus==false){ %>
                        <% if(orderItems.deliveryStatus==false){ %>
                            <P style="font-size: 11px;"><i class="fa-solid fa-circle text-warning"></i> Shipped</P>
                        <% }else{ %>
                            <P style="font-size: 11px;"><i class="fa-solid fa-circle text-success"></i> Delivered on <%= moment(orderItems.delivaryDate).format('DD-MM-YYYY');%></P>
                        <% } %>
                    <%}else{%>
                        <P style="font-size: 11px;"><i class="fa-solid fa-circle text-danger"></i> Canceled</P>
                    <%}%>
                </div>
                <hr class="m-0">
                <% orderItems.orderItems.forEach(function(product){ %>
                <div class="col-12 col-md-10 d-flex justify-content-center my-1">
                    <div class="col-6 col-md-5 d-flex justify-content-center"><a href="/productPage?id=<%= product.productID %>"><img style="max-width: 112px;" src="/images/productImage/<%= product.productImage %>" alt=""></a></div>
                    <div class="col-5 col-md-5 d-flex justify-content-center flex-column">
                        <a href="/productPage?id=<%= product.productID %>"><p><%= product.productName %></p></a>
                        <p>size : <%= product.productSize %></p>
                        <p>Qty : <%= product.productQty %></p>
                    </div>
                    <div class="col-1 col-md-2 d-flex justify-content-center"></div>
                </div>
                <hr>
                <% }) %>
                <%if(orderItems.deliveryStatus == false){%>
                    <%if(orderItems.cancelStatus == false){%>
                    <div class="col-12 d-flex justify-content-between px-4 py-2">
                        <P style="font-size: 13px;">Order placed on : <%= moment(orderItems.orderDate).format('DD-MM-YYYY');%></P>
                        <P style="font-size: 13px;">Total Price : $<%= orderItems.paidAmount %></P>
                        <div id="cancelButton"><button type="button" onclick="cancelOrder('<%= orderItems._id %>')" class="btn bg-dark text-danger text-center" >Cancel</button></div>
                    </div>
                    <%}else{%>
                        <div class="col-12 d-flex justify-content-between px-4 py-2">
                            <P style="font-size: 13px;">Order placed on : <%= moment(orderItems.orderDate).format('DD-MM-YYYY');%></P>
                            <P style="font-size: 13px;">Total Price : $<%= orderItems.paidAmount %></P>
                        </div>
                    <%}%>
                <%}else{%>
                    <div class="col-12 d-flex justify-content-between px-4 py-2">
                        <P style="font-size: 13px;">Order placed on : <%= moment(orderItems.orderDate).format('DD-MM-YYYY');%></P>
                        <P style="font-size: 13px;">Total Price : $<%= orderItems.paidAmount %></P>
                    </div>
                <%}%>
            </div>
            <% }) %>
        </div>
        <% if(orderItems.length!=0){ %>
        <div class="d-flex justify-content-center py-5"><button class="login-button signup-button text-center" >Continue Shopping</button></a></div>
        <% } %>
    </div>
</div>

<script>
        function cancelOrder(id){
        console.log(id);
    $.ajax({
    url : '/cancelOrder/'+id,
    method : 'get',
    success:(res) => {
        $("#orderDetails").load(location.href + " #orderDetails");
    }
    })
    }
</script>

<%- include('./layouts/userfooter.ejs') %>
