<%- include('./layouts/userheader.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <div>
                <h1 class="yourAccount">YOUR WISHLIST</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3 col-md-2">
            <div>
                <a class="text-dark" href="/accountDetails">Account details</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="/userAddress">Address</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="">Orders</a>
            </div>
            <hr>
            <div>
                <a  href="/wishlist">Wishlist</a>
            </div>
            <hr>
            <div>
                <a class="text-dark logout-btn" href="/logout">LOGOUT</a>
            </div>
        </div>
        <div class = "vertical line col-1"></div>
        <div class="col-8 col-md-9">
            <div class="container">
                    <main class="page">
                        <section class="shopping-cart dark">
                            <div class="container">
                                <% data.forEach(function(product,i){ %>
                               <div class="content">
                                    <div class="row">
                                        
                                        <div class="col-md-12 col-lg-8">
                                            <div class="items">
                                                <div class="product">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <img class="img-fluid mx-auto d-block image" src="/images/productImage/<%= product.Image1 %>">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="info">
                                                                <div class="row">
                                                                    <div class="col-md-7 product-name">
                                                                        <div class="product-name">
                                                                            <a href="/productPage?id=<%= product._id %>"><%= product.Name %></a>
                                                                            <div class="product-info">
                                                                                <div>STOCK: <span class="value">Available</span></div>
                                                                                <div>SIZE: <span class="value"><%= product.Size %></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5 price d-flex flex-column justify-content-center">
                                                                        <span>$ <%= product.Price %></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="summary d-flex justify-content-around align-items-center ">
                                                <button onclick="addtocart('<%= product._id %>')" type="button" class="btn btn-primary btn-lg btn-sm">Add To Cart</button><span id="cart-number" class=" me-auto mb-1 bg-dark translate-middle badge rounded-pill text-white">
                                                    <%= cartDetails %></span>
                                                <div><a href="/removeFromWishlistFromWishlist?id=<%= product._id %>"><i class="fa-solid fa-trash text-primary"></i></a></div>
                                            </div>
                                            
                                        </div>
                                    </div> 
                                    <% }) %>
                                </div>
                            </div>
                       </section>
                   </main>
            </div>
            <div class="d-flex justify-content-center py-5"><button class="login-button signup-button text-center" >Continue Shopping</button></a></div>
        </div>
    </div>
</div>
<hr class="my-5">
<div class="container">
    <div class="row">
        <!-- <div class="col-lg-2"></div> -->
        <div class="col-3 text-center"><i class="second-footerIcon fa-sharp fa-solid fa-shield-halved"></i><p class="icon_body">FAST & SECURE DELIVARY</p></div>
        <div class="col-3 text-center"><i class="second-footerIcon fa-solid fa-truck"></i><p class="icon_body">FREE SHIPPING ON PREPAID ORDERS</p></div>
        <div class="col-3 text-center"><i class="second-footerIcon fa-solid fa-globe"></i><P class="icon_body">DELIVARY ALL OVER INDIA</P></div>
        <div class="col-3 text-center"><i class="second-footerIcon fa-solid fa-headphones"></i><P class="icon_body">24/7 SUPPORT</P></div>
        <!-- <div class="col-lg-2"></div> -->
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="row gaprow2-welcomePage d-flex justify-content-center justify-content-space-around">  
      <div class="col-6 col-md-3 d-flex flex-column align-items-center py-4">
        <div><p class="footer-heading">PRODUCTS</p></div>
        <div>
          <div class="pt-1"><p>New Arrivals</p></div>
          <div class="d-flex flex-start"><p>Best Sellers</p></div>
          <div class="d-flex flex-start"><p>Release Dates</p></div>
          <div class="d-flex flex-start"><p>Sale</p></div>
        </div>
      </div>
      <div class="col-6 col-md-3 d-flex flex-column align-items-center py-4">
        <div><p class="footer-heading" style="margin-left: -75px;">GET HELP</p></div>
        <div>
          <div class="pt-1"><p>Order Tracker</p></div>
          <div class="d-flex flex-start"><p>Shipping</p></div>
          <div class="d-flex flex-start"><p>Returns and Exchange</p></div>
          <div class="d-flex flex-start"><p>Payment Methods</p></div>
          <div class="d-flex flex-start"><p>Contact Us</p></div>
        </div>
      </div>
    </div>
  </div>
<%- include('./layouts/userfooter.ejs') %>
