<%- include('./layouts/userheader.ejs') %> 

<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <div>
                <h1 class="yourAccount">YOUR ACCOUNT</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3 col-md-2">
            <div>
                <a href="/accountDetails">Account details</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="/userAddress">Address</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="">Orders</a>
            </div>
            <hr>
            <div>
                <a class="text-dark" href="/wishlist">Wishlist</a>
            </div>
            <hr>
            <div>
                <a class="text-dark logout-btn" href="/logout">LOGOUT</a>
            </div>
        </div>
        <div class = "vertical col-1"></div>
        <div class="col-8 col-md-9">
            <div class="container">
                <div class="row yourAccount-row">
                    <div class="col-lg-6">
                        <div>
                            <form action="/signup" class="d-flex flex-column" method="post" >
                                <div class="flex-start"><label for="name">Name</label></div>                                                                                             
                                <div><input readonly class="login-inputt mb-3" type="text" placeholder="Name" required="" name="name" id="name" value="<%= userDetails.firstname %>"></div>
                                <div><label for="phone">Phone</label></div> 
                                <div><input readonly class="login-inputt mb-3" type="number" placeholder="phone" required="" name="phone" id="phone" value="<%= userDetails.Phone %>"></div>                                                                                                  
                                <div><label class="">Primary Address</label></div>                              
                                <div class="login-inputt address-input bg-light">
                                   
                                   
                                    <p>
                                        <% if(address!=""){ %>
                                            <%=  address[0].mainAddress.addressLine1 %>, </br> <%= address[0].mainAddress.addressLine2 %>, </br> <%= address[0].mainAddress.state %>, </br> <%= address[0].mainAddress.country %>, </br> <%= address[0].mainAddress.pin %>, </br> <%= address[0].mainAddress.telephone %>
                                            <% } else { %>
                                                You have not set any <b>Default Address</b>
                                                <% } %>
                                    </p>
                                
                                
                                </div>  
                                <button type="button" class="login-button signup-button my-3 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Change Details
                                  </button>
                            </form>
                    </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <div> 
                                 
                                <div><label for="phone">Password</label></div> 
                                <div><input readonly class="login-inputt mb-3" type="password" placeholder="Password"  name="phone" id="phone" value="124578dsfsdf56"></div>                                                                                                                                
                                <div><a href="/forgotPassword"><button class="login-button signup-button my-3 ">change Password</button></a></div>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Profile Name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/nameChange" method="post">
        <div class="modal-body d-flex flex-column">
            
                <label for="name">Name</label>
                <input type="text" name="name" class="modal-input my-2 p-2">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"     >Save change</button>
        </form>
        </div>
      </div>
    </div>
  </div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

<%- include('./layouts/userfooter.ejs') %> 