<%- include('./layouts/userheader.ejs') %> 

<div class="container">
  <div class="row">
      <div class="col-12 py-5">
          <div class="d-flex">
              <button class="btn d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><h1>&#9776</h1></button>
              <div class="offcanvas offcanvas-start  text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                  <div class="offcanvas-header row d-flex">
                      <div class="col-10 text-center"><h2 class="offcanvas-title ps-5" id="offcanvasWithBothOptionsLabel">YOUR ACCOUNT</h2></div>
                      <div class="col-2"><button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button></div>
                  </div>
                  <div class="offcanvas-body">
                      <div class="col-12 col-md-12 text-center">
                          <div class="my-4">
                              <a  href="/accountDetails">ACCOUNT DETAILS</a>
                          </div>
                          <hr>
                          <div class="my-4">
                              <a class="text-white" href="/userAddress">ADDRESS</a>
                          </div>
                          <hr>
                          <div class="my-4">
                              <a class="text-white" href="/order">ORDERS</a>
                          </div>
                          <hr>
                          <div class="my-4">
                              <a class="text-white" href="/wishlist">WISHLIST</a>
                          </div>
                          <hr>
                          <div class="my-5">
                              <a class="text-white logout-btn" href="/logout"><H2>LOGOUT</H2></a>
                          </div>
                      </div>
                  </div>
              </div>
              <h1 class="yourAccount d-flex align-items-center">YOUR ACCOUNT</h1>
          </div>
      </div>
  </div>
</div>
<div class="container" id="orderDetails">
  <div class="row ">
      <div class="col-3 col-md-2 d-none d-lg-block">
          <div>
              <a  href="/accountDetails">Account details</a>
          </div>
          <hr>
          <div>
              <a class="text-dark" href="/userAddress">Address</a>
          </div>
          <hr>
          <div>
              <a class="text-dark" href="/order">Orders</a>
          </div>
          <hr>
          <div>
              <a class="text-dark" href="/wishlist">Wishlist</a>
          </div>
          <hr>
          <div>
              <a class="text-dark logout-btn" href="/logout">LOGOUT</a>
          </div>
      </div>
      <div class = "vertical col-1 p-0 d-none d-lg-block"></div>
      <div class="col-12 col-lg-9">
            <div class="container">
                <div class="row yourAccount-row">
                    <div class="col-lg-6">
                        <div>
                            <form action="/signup" class="d-flex flex-column" method="post" >
                                <div class="flex-start"><label for="name">Name</label></div>                                                                                             
                                <div><input readonly class="login-inputt mb-3 px-3" type="text" placeholder="Name" required="" name="name" id="name" value="<%= userDetails.firstname %>"></div>
                                <div><label for="phone">Phone</label></div> 
                                <div><input readonly class="login-inputt mb-3 px-3" type="number" placeholder="phone" required="" name="phone" id="phone" value="<%= userDetails.Phone %>"></div>                                                                                                  
                                <div><label class="">Primary Address</label></div>                              
                                <div class="login-inputt address-input bg-light p-3">
                                   
                                   
                                    <p>
                                        <% if(address!=""){ %>
                                            <%=  address[0].mainAddress.addressLine1 %>, </br> <%= address[0].mainAddress.addressLine2 %>, </br> <%= address[0].mainAddress.state %>, </br> <%= address[0].mainAddress.country %>, </br> <%= address[0].mainAddress.pin %>, </br> <%= address[0].mainAddress.telephone %>
                                            <% } else { %>
                                                You have not set any <b>Default Address</b>
                                                <% } %>
                                    </p>
                                
                                
                                </div>  
                                <button type="button" class="login-button signup-button my-3 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Change Details
                                  </button>
                            </form>
                    </div>
                    </div>
                    <div class="col-lg-6" id="passwordDIv">
                        <div>
                            <div> 
                                <div class="pb-3 text-center">
                                  <span class="text-success text-center" id="successMessage"></span>
                                  <span class="text-danger text-center" id="successMessage1"></span>
                                </div>
                                 <form action="" id="newPasswordForm">
                                <div><label for="phone">Current Password</label></div> 
                                <div class="mb-3">
                                  <input required class="login-inputt  px-3" type="password" placeholder="Current Password *"  name="password" id="currentPassword" onkeyup="passwordCheck()">
                                  <span class="text-danger px-2" id="oldPassword"></span>
                                </div> 
                                
                                <div><label for="phone">New Password</label></div> 
                                <div class="mb-3">
                                  <input required class="login-inputt  px-3" type="password" placeholder="New Password *"  name="password" id="newPassword" onkeyup="newPasswordCheck(this)">
                                  <span class="text-danger px-2" id="newPasswordErrorMessage"></span>
                                </div> 
                                <div><label for="phone">Confirm Password</label></div> 
                                <div class="mb-3">
                                  <input required class="login-inputt  px-3" type="password" placeholder="Confirm Password *"  name="password" id="ConfirmPassword" onkeyup="passwordEqualCheck()">
                                  <span class="text-danger px-2" id="confirmPasswordErrorMessage"></span>
                                </div> 
                                <div><button  class="login-button signup-button my-3 " id="submitButton" onclick="changePassword()">Change Password</button></div>
                              </form>
                            </div>
                      </div>
                </div>
                <script>
                  function passwordEqualCheck() {
                    const newPassword = $('#newPassword').val()
                    const confirmPassword = $('#ConfirmPassword').val()
                    if(confirmPassword != newPassword){
                      $('#confirmPasswordErrorMessage').text('Passwords not matching')
                      $('#submitButton').css('pointer-events','none')
                    }else{
                      $('#confirmPasswordErrorMessage').text('')
                      $('#submitButton').css('pointer-events','')
                    }
                  }
                  function newPasswordCheck(t) {
                    const inputPassword = $('#newPassword').val()
                    if(t.value.match(/\s/g)){
                      t.value=t.value.replace(/\s/g,'');
                    }
                    if(!inputPassword.match(/^(?=.*?[A-Za-z])(?=.*?[0-9]).{2,}$/)){
                        $('#newPasswordErrorMessage').text('Password should contain an alphabet and a number')
                        $('#submitButton').css('pointer-events','none')
                    }else if(!inputPassword.match(/^[\w]{8,}$/)){
                        $('#newPasswordErrorMessage').text('Password should be atleast 8 characters')
                        $('#submitButton').css('pointer-events','none')
                    }else{
                        $('#newPasswordErrorMessage').text('')
                        $('#submitButton').css('pointer-events','')
                    }
                  }
                  function passwordCheck(){
                    const oldPassword = $('#currentPassword').val()
                    $.ajax({
                      url : '/accountDetails/passwordCheck?password='+oldPassword,
                      method : 'put',
                      success :(res)=> {
                        if (res.data) {
                          $('#oldPassword').text('')
                          $('#submitButton').css('pointer-events','')
                        } else {
                          $('#oldPassword').text('Incorrect Password')
                          $('#submitButton').css('pointer-events','none')
                        }
                      }
                    })
                  }
                  function changePassword(){
                    $('#newPasswordForm').submit((e)=>{
                      e.preventDefault()
                      const newPassword = $('#newPassword').val()
                    $.ajax({
                      url : '/accountDetails/passwordCheck',
                      method : 'patch',
                      data:{
                        password : newPassword
                      },
                      success : (res)=> {
                        if (res.data) {
                          $('#successMessage').text('Password Changed Successfully')
                          $('#currentPassword').val('')
                          $('#newPassword').val('')
                          $('#ConfirmPassword').val('')
                          

                        }else{
                          $('#successMessage1').text('Unexpected error occured please try again')
                        }
                      }
                    })
                    })
                    
                  }
                </script>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Profile Name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/nameChange" method="post">
        <div class="modal-body d-flex flex-column">
            
                <label for="name">Name</label>
                <input type="text px-3" name="name" class="modal-input my-2 p-2">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"     >Save change</button>
        </form>
        </div>
      </div>
    </div>
  </div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

<%- include('./layouts/userfooter.ejs') %> 