<%- include('./layouts/userheader.ejs') %> 
<% if(bannerProducts==null){ %>
  <div id="mydiv">
    <div class="container-fluid login-container">
        <div class="row login-row d-flex justify-content-center align-items-center justify-content-space-around my-5">
            <div class="col-lg-4 align-items-center headings">
                <div class="headingshoes"><p class="sub_head" id="bannerProductName">Nike Air Force 1 Mid '07 LV8</p></div>
                <!-- <p class="sub_head">Mid '07 LV8</p> -->
                <div class="advertisement-div"><p class="advertisement" id="bannerDescription">The wait is over. A beautiful blend of design
                  and technology in every step of your running.</p></div>
            </div>
            <div class="col-lg-4 login-banner d-flex justify-content-center welcomepage-shoe">
                <a id="productLink" ><img class="login-image" id="banner" src="/images/air-force-1-mid-07-lv8-shoes-LKdCFK-removebg-preview.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center details-container" >
        <div class="row welcomeshoe-details " >
            <div class="col-4 d-flex justify-content-center">
                <p class="welcome-shoe-heading mx-2">BRAND</p>
                <p class="welcome-shoe-subheading" id="brandName">NIKE</p>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <p class="welcome-shoe-heading mx-2">PRICE</p>
              <p class="welcome-shoe-subheading" id="price">$205</p>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <p class="welcome-shoe-heading mx-2">COLOR</p>
              <p class="welcome-shoe-subheading" id="color">BLUE</p>
            </div>
        </div>
    </div>
    </div>
    <% }else{ %>
  <div id="mydiv">
  <div class="container-fluid login-container">
      <div class="row login-row d-flex justify-content-center align-items-center justify-content-space-around my-5">
          <div class="col-lg-4 align-items-center headings">
              <div class="headingshoes"><p class="sub_head" id="bannerProductName"><%= bannerProducts.product.Name %></p></div>
              <!-- <p class="sub_head">Mid '07 LV8</p> -->
              <div class="advertisement-div"><p class="advertisement" id="bannerDescription"><%= bannerProducts.description %></p></div>
          </div>
          <div class="col-lg-4 login-banner d-flex justify-content-center welcomepage-shoe">
              <a id="productLink" href="/productPage?id=<%= bannerProducts.product._id %>"><img class="login-image" id="banner" src="/images/productImage/<%= bannerProducts.product.Image6 %>" alt=""></a>
          </div>
      </div>
  </div>
  <div class="container d-flex justify-content-center details-container" >
      <div class="row welcomeshoe-details " >
          <div class="col-4 d-flex justify-content-center">
              <p class="welcome-shoe-heading mx-2">BRAND</p>
              <p class="welcome-shoe-subheading" id="brandName"><%= bannerProducts.brand %></p>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <p class="welcome-shoe-heading mx-2">PRICE</p>
            <p class="welcome-shoe-subheading" id="price">$<%= bannerProducts.price %></p>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <p class="welcome-shoe-heading mx-2">COLOR</p>
            <p class="welcome-shoe-subheading" id="color"><%= bannerProducts.product.Color %></p>
          </div>
      </div>
  </div>
  </div>
<%}%>
<div class="container py-5 d-flex justify-content-center">
    <div class="row carousal-row">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="cards-wrapper card_wrap">
                    <div class="card cardMargin">
                        <a href="/productPage?id=<%= product[0]._id %>"><img src="/images/productImage/<%= product[0].Image1 %>" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                          <h5 class="card-title"><%= product[0].Name %></h5>
                          <p class="card-text">$<%= product[0].Price %></p>
                        </div>
                      </div>
                      <div class="card cardMargin">
                        <a href="/productPage?id=<%= product[1]._id %>"><img src="/images/productImage/<%= product[1].Image1 %>" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                          <h5 class="card-title"><%= product[1].Name %></h5>
                          <p class="card-text">$<%= product[1].Price %></p>
                        </div>
                      </div>
                      <div class="card cardMargin">
                        <a href="/productPage?id=<%= product[2]._id %>"><img src="/images/productImage/<%= product[2].Image1 %>" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                          <h5 class="card-title"><%= product[2].Name %></h5>
                          <p class="card-text">$<%= product[2].Price %></p>
                        </div>
                      </div> 
                </div>
        
                
              </div>
              <% 
              for(i=0;i<length-6;i=i+3){ %>
                <div class="carousel-item ">
                    <div class="cards-wrapper card_wrap">
                        <div class="card cardMargin">
                            <a href="/productPage?id=<%= product[i+4]._id %>"><img src="/images/productImage/<%= product[i+4].Image1 %>" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                              <h5 class="card-title"><%= product[i+4].Name %></h5>
                              <p class="card-text">$<%= product[i+4].Price %></p>
                            </div>
                          </div>
                          <div class="card cardMargin">
                            <a href="/productPage?id=<%= product[i+5]._id %>"><img src="/images/productImage/<%= product[i+5].Image1 %>" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                              <h5 class="card-title"><%= product[i+5].Name %></h5>
                              <p class="card-text">$<%= product[i+5].Price %></p>
                            </div>
                          </div>
                          <div class="card cardMargin">
                            <a href="/productPage?id=<%= product[i+6]._id %>"><img src="/images/productImage/<%= product[i+6].Image1 %>" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                              <h5 class="card-title"><%= product[i+6].Name %></h5>
                              <p class="card-text">$<%= product[i+6].Price %></p>
                            </div>
                          </div> 
                    </div>
            
                  </div>
              <% } %> 
        
            </div>
        
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon carousel-arrow" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon carousel-arrow" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>
<div class="container-fluid bg-light">
  <div class="row gaprow-welcomePage" >   
  </div>
</div>
<div class="conatiner-fluid backgroundImg-row backgroundImg">
  <div class="row d-flex w-100 py-5 justify-content-center">
    <div class="col-md-6"></div>
    <div class="col-12 col-md-6" style="padding-left: 31px;">
      <div><p class="writings">We care about every step you take,<br>
        & We will continue to present untill the finish line</p></div>
        <div class="d-flex ">
          <div ><button class="shopNow">SHOP NOW</button></div>
          <div class="mx-4"><a href="/signup"><button class="shopNow">SIGN UP</button></a></div>
        </div> 
    </div>
    
  </div>
</div>
<div class="container-fluid bg-light">
  <div class="row gaprow2-welcomePage d-flex justify-content-center justify-content-space-around">  
    <div class="col-6 col-md-3 d-flex flex-column align-items-center py-4">
      <div><p class="footer-heading">PRODUCTS</p></div>
      <div>
        <div class="pt-1"><p>New Arrivals</p></div>
        <div class="d-flex flex-start"><p>Best Sellers</p></div>
        <div class="d-flex flex-start"><p>Release Dates</p></div>
        <div class="d-flex flex-start"><p>Sale</p></div>
      </div>
    </div>
    <div class="col-6 col-md-3 d-flex flex-column align-items-center py-4">
      <div><p class="footer-heading" style="margin-left: -75px;">GET HELP</p></div>
      <div>
        <div class="pt-1"><p>Order Tracker</p></div>
        <div class="d-flex flex-start"><p>Shipping</p></div>
        <div class="d-flex flex-start"><p>Returns and Exchange</p></div>
        <div class="d-flex flex-start"><p>Payment Methods</p></div>
        <div class="d-flex flex-start"><p>Contact Us</p></div>
      </div>
    </div>
  </div>
</div>

<script>
  var bannerCount
function nextBanner(i){
     
    $.ajax({
        url : '/nextBanner/'+i,
        method : 'get',
        success:(res) => {
            data = res.data
            bannerCount = data.length
            $('#bannerProductName').html(data[i].product.Name)
            $('#bannerDescription').html(data[i].description)
            $('#productLink').attr('href',`/productPage?id=${data[i].product._id}`)
            $('#banner').attr('src',`/images/productImage/${data[i].image}`)
            $('#brandName').html(data[i].brand)
            $('#price').html(`$${data[i].price}`)
            $('#color').html(data[i].product.Color)
        }
    })
    }

    var i = 0
    setInterval(function(){
        nextBanner(i)
        i=i+1;
        if(i==bannerCount){
            i=0
        }
    }, 5000);
</script>

<%- include('./layouts/userfooter.ejs') %> 
